<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="/admin"><i class="fab fa-forumbee"></i><b> Mr.Bee</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">
                <i class="fas fa-user-circle"></i> {{name}} {{surname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <button class="dropdown-item" routerLink="account"><i class="fas fa-info-circle"></i> Account</button>
                <button class="dropdown-item" (click)="Auth.logOut()"><i class="fas fa-sign-out-alt"></i> Log out</button>
            </div>
            </li>
        </ul>
    </div>
</nav>
<app-product></app-product>