<div class="row">
    <div class="text-center col-lg-3 col-sm-6">
        <div class="img-section">
            <img src="{{productImg[0]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[0]}}</h5>
            <h6 style="color: darkorange;">{{price[0]}}</h6>
            <p>{{shopName[0]}}</p>
        </div>
    </div>
    <div class="text-center col-lg-3 col-sm-6 ">
        <div class="img-section">
            <img src="{{productImg[1]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[1]}}</h5>
            <h6 style="color: darkorange;">{{price[1]}}</h6>
            <p>{{shopName[1]}}</p>
        </div>
    </div>
    <div class="text-center col-lg-3 col-sm-6 ">
        <div class="img-section">
            <img src="{{productImg[2]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[2]}}</h5>
            <h6 style="color: darkorange;">{{price[2]}}</h6>
            <p>{{shopName[2]}}</p>
        </div>
    </div>
    <div class="text-center col-lg-3 col-sm-6 ">
        <div class="img-section">
            <img src="{{productImg[3]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[3]}}</h5>
            <h6 style="color: darkorange;">{{price[3]}}</h6>
            <p>{{shopName[3]}}</p>
        </div>
    </div>
    <div class="text-center col-lg-3 col-sm-6 ">
        <div class="img-section">
            <img src="{{productImg[4]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[4]}}</h5>
            <h6 style="color: darkorange;">{{price[4]}}</h6>
            <p>{{shopName[4]}}</p>
        </div>
    </div>
    <div class="text-center col-lg-3 col-sm-6 ">
        <div class="img-section">
            <img src="{{productImg[5]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[5]}}</h5>
            <h6 style="color: darkorange;">{{price[5]}}</h6>
            <p>{{shopName[5]}}</p>
        </div>
    </div>
    <div class="text-center col-lg-3 col-sm-6 ">
        <div class="img-section">
            <img src="{{productImg[6]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[6]}}</h5>
            <h6 style="color: darkorange;">{{price[6]}}</h6>
            <p>{{shopName[6]}}</p>
        </div>
    </div>
    <div class="text-center col-lg-3 col-sm-6 ">
        <div class="img-section">
            <img src="{{productImg[7]}}" alt class="img-thumbnail img-responsive">
            <h5>{{productName[7]}}</h5>
            <h6 style="color: darkorange;">{{price[7]}}</h6>
            <p>{{shopName[7]}}</p>
        </div>
    </div>
</div>