img {
    width: 300px;
    height: 300px;
}
.img-section {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #DEE2E6;
    background-color: white;
}
p {
    border: 1px solid #DEE2E6;
    border-radius: 2px;
    margin-bottom: 0;
    padding: 5px;
    font-weight: 500;
}
.row {
    margin-bottom: 30px;
}